<main class="forgot-main-container">
  <!-- Left Side: Illustration & Branding -->
  <section class="left-section">
    <div class="background-glows">
      <div class="glow-dot top-glow"></div>
      <div class="glow-dot bottom-glow"></div>
    </div>
    <div class="left-content-wrapper">
      <div class="illustration-area">
        <img class="hero-illustration animate-float" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCdv12A_AbvrbONwPe0rdqMn0Psq8lItdCEcNsfrxRX62iY8Aape1qXYRk51XaAD2_ggVEojy1Y_fzKIfvLy59ai2ubqaWA13DWTM1NNi49Bdqlsz9ZW64OLHIhwrit87lZ36A0kdcB4f6P8sinut8zTjUj0UAbqtGgRplM3j8gPj-tmWTC5a1haxIwpURujmoWERt3S7H6vhqNiYt_ah1B9PiFKhaEfl7C66QjN0X1l-sRBUIicJlXSUjSrttggvTSQJdfBsILlfaV" alt="EduForge Forgot Password Illustration" />
      </div>
      <h1 class="left-title">Account Recovery</h1>
      <p class="left-subtitle">
        Don't worry, it happens to the best of us. Let's get you back on track to achieving academic success.
      </p>
    </div>
    <!-- Brand Anchor -->
    <div routerLink="/" class="brand-anchor">
      <span class="material-symbols-outlined brand-logo">school</span>
      <span class="brand-name">EduForge</span>
    </div>
  </section>

  <!-- Right Side: Reset Password Form -->
  <section class="right-section">
    <div class="form-wrapper">
      <!-- Mobile Branding -->
      <div routerLink="/" class="mobile-brand">
        <span class="material-symbols-outlined brand-logo">school</span>
        <span class="brand-name">EduForge</span>
      </div>

      <!-- Form Header -->
      <header class="form-header">
        <h2>Reset Password</h2>
        <p>Enter the email address associated with your account and we will send you a recovery link.</p>
      </header>

      <!-- Form -->
      <form class="forgot-form" (submit)="$event.preventDefault()">
        <!-- Email Field -->
        <div class="form-field">
          <label for="email">Email Address</label>
          <div class="input-wrapper">
            <span class="material-symbols-outlined input-icon">mail</span>
            <input type="email" id="email" placeholder="name@eduforge.com" class="auth-input" />
          </div>
        </div>

        <!-- Submit Button -->
        <button (click)="onSubmit()" [disabled]="isSending" [class.sending]="isSending" [class.sent]="isSent" type="submit" class="btn-auth-submit">
          {{ statusMessage }}
        </button>
      </form>

      <!-- Success info display -->
      @if (isSent) {
        <div class="success-notice">
          <span class="material-symbols-outlined success-icon">check_circle</span>
          <p>A password reset link has been successfully dispatched to your email inbox. Please check spam if you do not receive it in 2 minutes.</p>
        </div>
      }

      <!-- Footer Link -->
      <footer class="login-footer-link">
        <p>Remembered your password? <a routerLink="/login" class="login-link">Back to Login</a></p>
      </footer>
    </div>
  </section>
</main>
